{%extends 'base.html'%}
{%load static%}
Insertar rol
{%block title%}
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}


{%block content%}
<h1>Registro usuario</h1>

<form action="" method="POST" id="formulario_actualizar">
        {%csrf_token %}
        <div class="formulario_actualizar">
    <label>Tipo documento</label>
    <br>
    <select name="tipo_doc" id="tipo_doc">
        <option value="CC">Cedula de ciudadania</option>
        <option value="TI">Tarjeta de identidad</option>
        <option value="CE">Cedula de extranjeria</option>
        <option value="PPT">Permiso de proteccion especial</option>
    </select>
    <br>
    <label>Numero documento</label>
    <br>
    <input type="number" name="numero_documento">
    <br>
    <label>Nombre</label>
    <br>
    <input type="text" name="last_name">
    <br>
    <label>Apellido</label>
    <br>
    <input type="text" name="first_name">
    <br>
    <label>Nombre de Usuario</label>
    <br>
    <input type="text" name="username">
    <br>
    <label>Telefono</label>
    <br>
    <input type="text" name="telefono">
    <br>
    <label>Gmail</label>
    <br>
    <input type="email" name="email">
    <br>
    <label>Contraseña</label>
    <br>
    <input type="password" name="password">
    <br>
        
    
    
    
    <label> Rol </label>
    <br>
    <select name="rol_id">
        {% for p in rol %}
        <option value="{{p.id}}">{{p.nombre}}</option>
        {% endfor %}   
        </select>
        <br>
        <button type="submit" > Guardar  </button>    
</form>
</div>
{%endblock%}


