{%extends 'base.html'%}
{%load static%}
Insertar rol
{%block title%}
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<link rel="stylesheet" href="{% static 'base.css'%}">
<h1>Gestion Novedades</h1>
{%endblock%}


{%block content%}
<h3>Inicio de sesión</h3>
<form action="" method="POST" id="formulario_actualizar">
    {% csrf_token %}

    <label for="">Username</label>
    <input type="text" name="username" required>

    <label for="">Contraseña</label>
    <input type="password" name="password" required>

    <p>{{ mensaje_error }}</p>

    <button>Iniciar sesión</button>
</form>
<form action="{% url 'insertar_usuario' %}" id="formulario_actualizar">
    <button type="submit">Registrar Usuario</button>
</form>
{%endblock%}
