{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/rol/mediasquerys.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
        <h1>GESTION SENA</h1>
        <div class="contenedor">
            {% if user.is_authenticated and user.rol.codigo != 'APR' %}
            <div class="menu">
                <button>USUARIOS</button>
                <ul class="menu-content">
                    <li><a href="{% url 'insertar_rol' %}">ROL</a></li>
                    <li><a href="{% url 'insertar_usuario' %}">USUARIO</a></li>
                </ul>
            </div>
            <div class="menu">
                <button>SEDES</button>
                <ul class="menu-content">
                    <li><a href="{% url 'insertar_regional' %}">REGIONAL</a></li>
                    <li><a href="{% url 'insertar_centro_formacion' %}">CENTROS DE FORMACIÓN</a></li>
                    <li><a href="{% url 'insertar_sede' %}">SEDES</a></li>
                </ul>
            </div>
            <div class="menu">
                <button>AMBIENTES</button>
                <ul class="menu-content">
                    <li><a href="{% url 'insertar_tipo_ambiente' %}">TIPOS AMBIENTE</a></li>
                    <li><a href="{% url 'insertar_ambiente' %}">AMBIENTE</a></li>
                    <li><a href="{% url 'insertar_tipo_mobiliario' %}">TIPO MOBILIARIO</a></li>
                    <li><a href="{% url 'insertar_mobiliario' %}">MOBILIARIO</a></li>
                </ul>
            </div>
            {% endif %}
            <div class="menu">
                <button><i class="fa-solid fa-user"></i></button>
                <ul class="menu-content">
                    <nav>
                        {% if user.is_authenticated %}
                            <p>{{ user.get_full_name }} ({{ user.rol.nombre }})</p>
                        {% else %}
                            <p>Usuario invitado</p>
                        {% endif %}
                    </nav>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'listar_novedades' %}">Mis Novedades</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
        {% endblock %}
        
    </main>
</body>
</html>