{%extends 'base.html'%}
{%load static%}

{%block title%}
insertar programa de formacion
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}


{%block content%}
<h1>Insertar programa de formacion</h1>

<form action="" method="POST" id="formulario_actualizar">
    {%csrf_token %}
<div class="formulario_actualizar">
    <label for="cod_prog">Codigo del programa</label>
    <input type="text" id="cod_prog" name="cod_prog" required>
    <label for="nombre">Nombre del programa</label>
    <input type="text" id="nombre" name="nombre" required>
    <label for="horas">Horas</label>
    <input type="number" id="horas" name="horas" required>
    <label for="version">Version</label>
    <input type="text" id="version" name="version" required>
    <button type="submit" > Guardar  </button>    
</form>
</div>
{%endblock%}


