{%extends 'base.html'%}
{%load static%}

{%block title%}
lista de programas de formacion
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}


{%block content%}
<h1>Lista de programas de formacion</h1>
<table>
    <thead>
    <tr>
        <th>Codigo del programa</th>
        <th>Nombre del programa</th>
        <th>Horas del programa</th>
        <th>Version del programa</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
        {% for p in programas_formacion %}
            <tr>
                <td>{{ p.cod_prog }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.horas }}</td>
                <td>{{ p.version }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}


