{% extends 'base.html' %}
{% load static %}
{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}
{% block content %}
<h2>Listado de Programas</h2>
<a href="{% url 'insertar_programa' %}" class="btn btn-primary">Nuevo Programa</a>
<ul>
    {% for programa in programas %}
        <li>{{ programa.nombre }} - {{ programa.ficha.codigo }}
            <a href="{% url 'actualizar_programa' programa.pk %}">Editar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
