{%extends 'base.html'%}
{%load static%}

{%block title%}
actualizar tipo de ambiente
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_tipo_ambiente'%}">tipo_ambiente</a>
            <a href="{% url 'listar_tipo_ambiente' %}">listar</a>
        </ul>
{%endblock%}


{%block content%}
<div class="formulario_actualizar">
<h1>Actualizar </h1>

<form action="" method="POST" id="formulario_actualizar">
    {% csrf_token %}
                <label for="codigo">codigo</label>
                <input type="text" name="codigo" id="" value="{{tipo_ambiente.codigo}}">
            
                <label for="nombre">nombre</label>
                <input type="text" name="nombre" id="" value="{{tipo_ambiente.nombre}}">
            <br>
                <td colspan="1"><button type="submit">Actualizar </button>
</form>
</div>
{%endblock%}
