{%extends 'base.html'%}
{%load static%}

{%block title%}
lista de tipos de ambiente
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_tipo_ambiente'%}">INSERTAR</a>
            <a href="{% url 'listar_tipo_ambiente' %}">LISTAR</a>
        </ul>
{%endblock%}


{%block content%}
<h1>listar de tipo de ambientes</h1>
    <table>
        <thead>
            <tr>
                <th>codigo</th>
                <th>nombre</th>
                <th>actualizar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in tipo_ambiente %}
            <tr>
                <td>{{p.codigo}}</td>
                <td>{{p.nombre}}</td>
                <td> <a href="{% url 'actualizar_tipo_ambiente' p.id %}">Actualizar</a></td>
                <td><a href="{% url 'eliminar_tipo_ambiente' p.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>
{%endblock%}