@media (max-width : 1024px ) {
}
@media(max-width:768px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    header h1{
        font-size: 30px;
        align-self: center;
    }
    ul a{
        padding: 10px 10px; 
        background-color: #00000065;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        text-decoration: none; 
        font-size: 14px;
        margin-right: 20px;
    }
}
@media (max-width: 480px) {
}
@media (max-width: 375px) {
    
}

