{% extends 'base.html' %}
{% load static %}
{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}
{% block content %}
<h2>{% if 'actualizar' in request.path %}Actualizar{% else %}Insertar{% endif %} Ficha</h2>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}
