{% extends 'base.html' %}
{% load static %}
{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_usuario'%}">INSERTAR</a>
            <a href="{% url 'listar_usuario' %}">LISTAR</a>
        </ul>
{%endblock%}
{% block content %}
<h2>Listado de Fichas</h2>
<a href="{% url 'insertar_ficha' %}" class="btn btn-primary">Nueva Ficha</a>
<ul>
    {% for ficha in fichas %}
        <li>{{ ficha.codigo }} - {{ ficha.sede.nombre }} - {{ ficha.get_jornada_display }}
            <a href="{% url 'actualizar_ficha' ficha.pk %}">Editar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
