{%extends 'base.html'%}
{%load static%}
Insertar rol
{%block title%}
{%endblock%}


{%block header%}
<link rel="stylesheet" href="{% static 'css/base.css'%}">
<h1>Gestion Novedades</h1>
        <ul>
            <a href="{% url 'base'%}">INICIO</a>
            <a href="{% url 'insertar_sede'%}">INSERTAR</a>
            <a href="{% url 'listar_sede' %}">LISTAR</a>
        </ul>
{%endblock%}


{%block content%}
<h1>Registro sede</h1>
<table>
    <thead>
        <tr>
        <th>codigo</th>
        <th>nombre</th>
        <th>direccion</th>
        <th>centro_de_formacion</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
        {% for p in sede %}
        <tr>
            <td><p>{{p.codigo}}</p></td>
            <td><p>{{p.nombre}}</p></td>
            <td><p>{{p.direccion}}</p></td>
            <td><p>{{p.centro_de_formacion.nombre}}</p></td>
            <td> <a href="{% url 'actualizar_sede' p.id%}">actualizar</a></td>
            <td> <a href="{% url 'eliminar_sede' p.id%}" onclick="return (confirm('Desea eliminar el elemento?'))"> eliminar</a> </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}


